<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-sm-2 g-xl-4 g-lg-3">
  @for(product of products; track $index){
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
        <button class="btn btn-primary" (click)="addToCart(product)">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
  }
</div>
