<div [style.--bs-btn-padding-x]="btnPaddingY">
Hello there <br>

<div >
  <label for="btn-padding-y">Button Padding Y:</label>
  <input
    id="btn-padding-y"
    type="text"
    [(ngModel)]="btnPaddingY"
    (input)="updateButtonStyles()"
  />
</div>
<div>
  <label for="btn-padding-x">Button Padding X:</label>
  <input
    id="btn-padding-x"
    type="text"
    [(ngModel)]="btnPaddingX"
    (input)="updateButtonStyles()"
  />
</div>

<br />

<h1>Welcome to the demo app</h1>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>

<!-- <router-outlet></router-outlet> -->
</div>