// .ol-zoom {
//   right: 0.5em;
//   bottom: 0.5em;
// }
.ol-pan-zoom {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}

.ol-draw-control {
  position: absolute;
  right: 0.5em;
  bottom: 3.25em;
}
